/*COMMON REGION*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root{
  --dc-light-primary: #0282f9;
  --dc-dark-primary:#1c1c1c;
  --dc-light-secondary:#ffffff;
  --dc-dark-secondary:#797979;
  --dc-header-text:#4e4e58;
}
/* body{
  background-color: #0282f9;
} */
/*UTILITIES*/
.container{
  width:100%;
  max-width:1024px;
  margin: auto;
}
.d-flex{
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-2 {
  width: calc(100% / 12 * 2);
  margin: 1rem;
}
.col-5 {
  width: calc(100% / 12 * 5);
}
.col-7 {
  width: calc(100% / 12 * 7);
}
/*HEADER*/
header{
  background-color: var(--dc-light-secondary);
  #navBar{
    justify-content: space-around;
    align-items: center;
    #navMenu{
      a{
        text-decoration: none;
        color:var(--dc-header-text);
        font-weight: bold;
        padding: 4rem 0.5rem;
      }

    }
  }
}
/*MAIN*/
main{
#jumbotron{
  color: var(--dc-light-secondary);
  background-color: var(--dc-dark-primary);
  padding: 4rem;
}
#tool-bar{
background-color: var(--dc-light-primary);
color: var(--dc-light-secondary);
padding: 2rem;
div{
  align-items: center;
  img{
    max-width: 50px;
    margin-right: 1rem;
  }
  a{
    text-decoration: none;
    color: var(--dc-light-secondary);
    font-size: small;
  }
}
}
}
/*FOOTER*/
footer{
  margin-top: -1rem;
  #our-links{
    background-image: url("/img/footer-bg.jpg");
    background-size: cover;
  }
  div .col-5{
    justify-content: space-around;
    padding: 2rem;
    h3{
      margin-top: 1rem;
      color:var(--dc-light-secondary);
    }
    ul{
      list-style: none;
      a{
        text-decoration: none;
        color: var(--dc-dark-secondary);
      }
    }
  }
}
